* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    background: #FEF6DF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.header img {
    width: 80px;
    margin-bottom: 10px;
}

.header h1 {
    margin-bottom: 5px;
}

.login-methods p, .or {
    margin: 10px 0;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.continue {
    background-color: #4D6D67;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}
