<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>윌리어리</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='menubar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='diaryWrite.css') }}">
</head>
<body>
    {% include 'menubar.html' %}
    <div class="container">
    <div class="write-container">
        <div class="header-bar">
        <button class="back-button" onclick="goBack()">&#60;</button>
        <h2>오늘의 기록</h2>
        </div>
        <div class="header">
            <p>{{ current_date }} <span class="icon"><img src="{{ url_for('static', filename='icons/Calendar.svg') }}" alt="캘린더 아이콘" class="icon"></span></p>
        </div>
        <form method="POST" action="{{ url_for('diary_bp.write_diary') }}" class="form">
            <input type="text" name="title" class="title-input" placeholder="제목을 작성해주세요" required />
            <textarea name="content" class="content-input" placeholder="글을 작성해주세요." required></textarea>
            <button type="submit" class="submit-button">작성</button>
        </form>
    </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
