<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>윌리어리</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='menubar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    {% include 'menubar.html' %}
    <div class="container">
        <h2>오늘의 기록</h2>
        <!-- 달력 -->
        <div class="calendar-container">
            <!-- 월 선택 -->
            <div class="month-header">
                <span id="current-month">{{ selected_date.strftime('%m월') }}</span>
                <button id="calendar-icon"><img src="../static/icons/calendar.svg" alt="캘린더 아이콘"></button>
            </div>
            <!-- 날짜 표시 -->
            <div class="date-list">
                {% for day in range(17, 24) %}
                    <span
                        class="date {% if selected_date.day == day %}selected{% endif %}"
                        onclick="selectDate(`{{ selected_date.strftime('%Y-%m') }}-{{ '%02d'|format(day) }}`)">
                        {{ day }}
                    </span>
                {% endfor %}
            </div>
        </div>

        <!-- 일기 분석 결과 -->
        <div class="analysis-container">
            <div class="header">
                <p> 19:08</p>
                <h2>오늘의 일기 분석결과</h2>
                <img src="../static/icons/line.svg" alt="분석결과 구분선" class="divider-image">
            </div>
            {% if analyses %}
            <div class="analysis-content">
                <div class="warning-section">
                    {% if highest_disease_name == None %}
                        <span class="normal-label">양호</span>
                    {% elif highest_probability >= 80 %}
                        <span class="danger-label">위험</span>
                    {% elif highest_probability >= 50 %}
                        <span class="warning-label">주의</span>
                    {% else %}
                        <span class="normal-label">양호</span>
                    {% endif %}
                    <span class="disease">{{ highest_disease_name }}</span>
                </div>
                <div class="result-box">
                    <p class="message">{{ highest_disease_name }}일 가능성이 높습니다.</p>
                    <div class="donut-container">
                        <svg viewBox="0 0 36 36" class="circular-chart">
                            <path class="circle-bg"
                                d="M18 2.0845
                                    a 15.9155 15.9155 0 0 1 0 31.831
                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path class="circle"
                                stroke-dasharray="{{ highest_probability }}, 100"
                                d="M18 2.0845
                                    a 15.9155 15.9155 0 0 1 0 31.831
                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                        <div class="percentage">{{ highest_probability | round(0) }}%</div>
                    </div>
                </div>
            </div>
            {% else %}
                <p>분석 결과가 없습니다.</p>
            {% endif %}
        </div>

        <!-- 일기 -->
        {% if diary %}
        <div class="diary-container">
            <div class="diary-header">
                <div class="date-title">
                    <p class="date">{{ diary.diarydate.strftime('%Y-%m-%d') }}</p>
                    <h2 class="title">{{ diary.title }}</h2>
                </div>
                <a href="#" class="view-all">전체 보기 &gt;</a>
            </div>
            <img src="../static/icons/line.svg" alt="분석결과 구분선" class="divider-image">
            <div class="diary-content">
                <p>{{ diary.content }}</p>
            </div>
            <button class="write-icon" onclick="showErrorModal()">
                <img src="../static/icons/pen.svg" alt="연필 아이콘">
            </button>
        </div>
        {% else %}
            <div class="diary-container">
                <div class="diary-header">
                    <div class="date-title">
                        <p class="date">{{ selected_date.strftime('%Y-%m-%d') }}</p>
                        <h2 class="title">다이어리</h2>
                    </div>
                </div>
                <img src="../static/icons/line.svg" alt="분석결과 구분선" class="divider-image">
                <div class="diary-content">
                    <p>{{ selected_date.strftime('%Y-%m-%d') }}에 작성된 일기가 없습니다.</p>
                </div>
                <button class="write-icon" onclick="goToWritePage()">
                    <img src="../static/icons/pen.svg" alt="연필 아이콘">
                </button>
            </div>
        {% endif %}
    </div>

    <!-- 모달 -->
    <div class="modal" id="errorModal" style="display: none;">
        <div class="modal-content">
            <h2 id="modalTitle">일기 중복</h2>
            <p id="modalMessage">일기는 하루에 한 번만 작성할 수 있습니다.</p>
            <button id="closeModal">닫기</button>
        </div>
    </div>

    <script src="../static/js/home.js"></script>
    <script>
        function goToWritePage() {
            window.location.href = "diary/diaryWrite";
        }
    </script>
    <script>
        function selectDate(date) {
            window.location.href = `/home?date=${date}`;
        }
        function showErrorModal() {
            // 모달을 표시
            const modal = document.getElementById("errorModal");
            modal.style.display = "flex";

            // 닫기 버튼 이벤트 리스너
            const closeModalButton = document.getElementById("closeModal");
            closeModalButton.addEventListener("click", () => {
                modal.style.display = "none";
            });
        }
    </script>
</body>
</html>
