<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>윌리어리</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='menubar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mypage.css') }}">
</head>
<body>
    {% include 'menubar.html' %}
    <div class="container">
        <div class="write-container">
            <div class="header-bar">
            <h2>프로필</h2>
        </div>
        <div class="write-content">
        <div class="profile-header">
            <img src="{{ url_for('static', filename='icons/user_icon.svg') }}" alt="프로필 사진" class="profile-pic">
            <div class="profile-info">
                {% if user_data %}
                    <h1>{{ user_data.nickname }}</h1>
                {% else %}
                    <h1>Guest</h1>
                {% endif %}
                <p>현재 4일째 출석중</p>
            </div>
        </div>
        <div class="stats">
            <div class="stat challenge">
                <h2>챌린지 순위</h2>
                <p>1위 <span class="small">(5개 목표 달성)</span> <span class="change up">^1</span></p>
            </div>
            <div class="stat diary">
                <h2>일기 순위</h2>
                <p>3위 <span class="small">(40일 일기 작성)</span> <span class="change down">v2</span></p>
            </div>
        </div>
        <div class="menu-list">
            <a href="#" class="menu-item">
                <div class="menu-icon-text">
                    <img src="{{ url_for('static', filename='icons/myprofile.svg') }}" alt="프로필 아이콘" class="icon">
                    프로필 수정
                </div>
                <span class="arrow">></span>
            </a> 
            <a href="#" class="menu-item">
                <div class="menu-icon-text">
                    <img src="{{ url_for('static', filename='icons/mydiary.svg') }}" alt="일기 아이콘" class="icon">
                    작성한 일기
                </div>
                <span class="arrow">></span>
            </a>
            <a href="{{ url_for('app_bp.challenge_list') }}"  class="menu-item">
                <div class="menu-icon-text">
                    <img src="{{ url_for('static', filename='icons/mychallenge.svg') }}" alt="챌린지 아이콘" class="icon">
                    참여하고 있는 챌린지
                </div>
                <span class="arrow">></span>
            </a>
            <a href="{{ url_for('app_bp.emergency_call') }}"  class="menu-item">
                <div class="menu-icon-text">
                    <img src="{{ url_for('static', filename='icons/mycall.svg') }}" alt="응급콜 아이콘" class="icon">
                    응급콜
                </div>
                <span class="arrow">></span>
            </a>
            <a href="{{ url_for('app_bp.hospital') }}"  class="menu-item">
                <div class="menu-icon-text">
                    <img src="{{ url_for('static', filename='icons/hospital.svg') }}" alt="응급콜 아이콘" class="icon">
                    병원 정보
                </div>
                <span class="arrow">></span>
            </a>
            <a href="{{ url_for('user_bp.logout') }}" class="menu-item">
                <div class="menu-icon-text">
                    <img src="{{ url_for('static', filename='icons/mylogout.svg') }}" alt="로그아웃 아이콘" class="icon">
                    로그아웃
                </div>
                <span class="arrow">></span>
            </a>                                    
        </div>
    </div>
    </div>

</body>
</html>
