<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>윌리어리</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='menubar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
</head>
<body>
    {% include 'menubar.html' %}
    <div class="container">
        <div class="write-container">
            <div class="header-bar">
            <h2>자가진단</h2>
            <ul>
                <li><a href="{{ url_for('app_bp.depression') }}">우울증 자가진단</a></li>
                <li><a href="{{ url_for('app_bp.bipolar') }}">조울증 자가진단</a></li>
                <li><a href="{{ url_for('app_bp.ptsd') }}">PTSD 자가진단</a></li>
                <li><a href="{{ url_for('app_bp.adhd') }}">ADHD 자가진단</a></li>
                <li><a href="{{ url_for('app_bp.anxiety') }}">불안장애 자가진단</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
